 
Homework_6.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Homework_6.xcodeproj/project.xcworkspace/xcuserdata/andrejneverovskij.xcuserdatad/UserInterfaceState.xcuserstate
Homework_6.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Homework_6.xcodeproj/xcuserdata/andrejneverovskij.xcuserdatad/xcschemes/xcschememanagement.plist
